{% extends "shop/base.html" %}

{% block content %}

{% load static %}

<main class="main">
    <section class="about-section">
        <h5 class="about-company">
            About company
        </h5>
        <div class="first-about">
            <div class="about-us-div">
                <div class="img-about">
                    <img class="img" src="{% static 'shop/images/mom.jpg' %}" alt="smth went wrong">
                </div>
                <div class="text-about">
                    <h4 class="discription">
                        About us
                    </h4>
                    <div class="box-about">
                        <em>
                            ``Looking for a British and Scottish kitten?
                            Then you are on the right way.

                            We have been breeding British and Scottish cats since 2017.

                            Owner of the cattery is Klimenko Lyubov.

                            The cattery is registered in the APFC club on 10.11.2017, 
                            registration number WCF-UA-0120 and is part of the DRPFC "Alisa".
                            The catteryname within the World Cat Federation (WCF) doesn’t transferable, 
                            and it is protected. Specialization of the cattery - breeding of British and 
                            Scottish cats, colors Ny11, ny1133, ns12, ns1233, ns11, ns1133, ny25, ay11, 
                            ay12. We select producers not only according to the standard of development 
                            and health, but also according to their character. Our cats love affection 
                            and attention, but at the same time they do not exclude their pedigree 
                            feature - the British and Scots are not intrusive animals.
                            Kittens of our breeding are traced in Europe, Asia, America, Australia 
                            and Japan.``
                        </em>
                    </div>
                </div>

            </div>

    </section>
    {% comment %} <div id="carousel" class="carousel">
        <button class="arrow prev"> <- </button>
        <div class="gallery">
            <ul>
                <li>
                    <img src="{% static 'shop/images/slides/cat1.jfif' %}" alt="smth went wrong">
                </li>
                <li>
                <img src="../images/slides/cat2.png" alt="smth went wrong">
                </li>
                <li>
                    <img src="../images/slides/cat3.jpg" alt="smth went wrong">
                </li>
                <li>
                    <img src="../images/slides/cat4.jfif" alt="smth went wrong">
                </li>
                <li>
                    <img src="../images/slides/cat4.jfif" alt="smth went wrong">
                </li>
                <li>
                    <img src="../images/slides/cat4.jfif" alt="smth went wrong">
                </li>
                <li>
                    <img src="../images/slides/cat4.jfif" alt="smth went wrong">
                </li>
                <li>
                    <img src="../images/slides/cat4.jfif" alt="smth went wrong">
                </li>
            </ul>
        </div>
        <button class="arrow next"> -> </button>
    </div> {% endcomment %}
    {% comment %} <div class="contact-container-form">
        <form action="{% url 'contact_us' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button> 
        </form>
    </div> {% endcomment %}
</main>
<section class="contact-section section-padding" id="section_5">
    <div class="container">
        <div class="row">   

            <div class="col-lg-12 col-12">
                <em class="text-white">Say Hello</em>
                <h2 class="text-white mb-4 pb-lg-2">Contact</h2>
            </div>

            <div class="col-lg-6 col-12">
                <form action="{% url 'contact_us' %}" method="POST" class="custom-form contact-form" role="form">
                    {% csrf_token %}
                <div class="row">
                    
                    <div class="col-lg-6 col-12">
                        <label for="id_first_name" class="form-label"> {{ form.first_name.label }} <sup class="text-danger">*</sup></label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="col-lg-6 col-12">
                        <label for="id_email" class="form-label"> {{ form.email.label }} </label>
                        {{ form.email }}

                        {% comment %} <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jack@gmail.com" required=""> {% endcomment %}
                    </div>

                    <div class="col-12">
                        <label for="id_message" class="form-label">How can we help?</label>
                        <div class="form-contact">
                            {{ form.message }}
                        </div>

                        {% comment %} <textarea name="message" rows="4" class="form-control" id="message" placeholder="Message" required=""></textarea> {% endcomment %}
                        
                    </div>
                </div>

                <div class="col-lg-5 col-12 mx-auto mt-3">
                    <button type="submit" class="form-control">Send Message</button>
                </div>
                
            </form>
            </div>
        </div>
    </div>
</section>





{% comment %} <section class="contact-section section-padding" id="section_5">
    <div class="container">
        <div class="row">   

            <div class="col-lg-12 col-12">
                <em class="text-white">Say Hello</em>
                <h2 class="text-white mb-4 pb-lg-2">Contact</h2>
            </div>

            <div class="col-lg-6 col-12">
                <form action="#" method="post" class="custom-form contact-form" role="form">

                <div class="row">
                    
                    <div class="col-lg-6 col-12">
                        <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>

                        <input type="submit" name="name" id="name" class="form-control" placeholder="Jackson" required="">
                    </div>

                    <div class="col-lg-6 col-12">
                        <label for="email" class="form-label">Email Address</label>

                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jack@gmail.com" required="">
                    </div>

                    <div class="col-12">
                        <label for="message" class="form-label">How can we help?</label>

                        <textarea name="message" rows="4" class="form-control" id="message" placeholder="Message" required=""></textarea>
                        
                    </div>
                </div>

                <div class="col-lg-5 col-12 mx-auto mt-3">
                    <button type="submit" class="form-control">Send Message</button>
                </div>
                
            </form>
            </div>
        </div>
    </div>
</section> {% endcomment %}

{% endblock content %}