{% extends "blog/base_blog.html" %}

{% block content %}
<div class="box">
    <div class="box-text">
        <h1 class="box-h1-update"> My profile </h1>
        <p class="box-p"> Edit your profile </p>
    </div>
    <div class="box-update">
        <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_update_form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
{% endblock content %}
